apiVersion: v1
kind: Service
metadata:
  name: product-service
  namespace: product-namespace
spec:
  selector:
    app: product-service
  ports:
  - port: 80
    targetPort: 8081
    protocol: TCP
  type: ClusterIP