apiVersion: v1
kind: Secret
metadata:
  namespace: product-namespace
  name: product-service-secret
type: Opaque
stringData:
  SPRING_DATASOURCE_URL: "jdbc:postgresql://path/to/pod:5432/some_table"
  SPRING_DATASOURCE_USERNAME: "some_user"
  SPRING_DATASOURCE_PASSWORD: "some_password"